<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <h2>Enter your sentence to convert</h2>
    <form action="/result" method="POST">
      <label for="sentence" id="sentence">Your sentence:</label>
      <input type="text" name="sentence" id="sentence">
      <input type="submit" value = "Submit">
    </form>
  </body>
</html>
