<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>Enter your sentence to convert</h2>
    <form action="/result" method="POST">
      <label for="user_phrase" id="sentence">Enter your phrase:</label>
      <input type="text" name="user_phrase" id="user_phrase">
      <input type="submit" value = "Submit">
    </form>
  </body>
</html>
